.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
.sqr {
    width: 5%;
    border-style: outset;
    text-align: center;
}